/*
 * ========================
 * HERO
 * ========================
 */
.hero 
	height: 841px
	padding: 104px 74px 0
	background: url('../img/hero-bg.png') center no-repeat
	background-size: cover

	&__info

		
	&__descr
		max-width: 564px
		padding: 14px 18px 18px
		margin-top: 33px
		margin-bottom: 55px
		font-weight: 500
		font-size: 25px
		line-height: 35px 
		text-transform: uppercase
		color: $black
		background-color: $white

	&__btn

		&-text
			display: inline-block
			vertical-align: middle
			margin-right: 17px
			border-bottom: 1px solid $white
			font-weight: 500
			font-size: 16px
			line-height: 16px
			text-transform: uppercase
			color: $white

		&-icon
			display: inline-block
			vertical-align: middle
			width: 42px
			height: 16px
			fill: $white


	+width-sm
		padding-top: 10px

		&__inner
			flex-direction: column

		&__info
			order: 1
			width: 100%
			padding-top: 20px

		&__descr
			margin-top: 10px
			font-size: 18px
			line-height: 20px

		&__banner
			width: 100%
			max-width: 450px
			margin: auto




